* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-image: url(./imgns/img_background2\ 1flechas.png);
}
.btnLogOut{
    background-color: #fff;
    width: 100%;
    padding: 20px;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #D57276;
    color: #FFF;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}
.contenedorTextos{
    background: #fff;
    height: 1000px;
}

img.logoSocialTravel {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.inputPost {
    position: relative;
    border: 1px solid #65B2C6;
    border-radius: 5px;
    margin: 10px 3%;
    padding: 8px;
    width: 94%;
    height: 100%;
    font-size: x-large;
    text-align: initial;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.textModal {
    color: #2b2b2b;
    padding: 10px;
}
.btnSingin {
    width: 340px;
    height: 48px;
    font-size: 100%;
    margin: auto 10%;
    border-radius: 10px;
    border: none;
}
.containerBody {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
}

.hide {
    display: none;
}
#introduction{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}
.containerH2{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#feed h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #2B2B2B;
    margin: 3% 7.5%;
}

.logo{
    position: relative;
    height: 70%;
    
}
#main{
    grid-area: main;
    height: 500px;
}
#feed{
    grid-template-areas: "navigate"
                            "main"
                            "footer";
}
.Menu{
    grid-area: navigate;

    display: flex;
    flex-direction: column;
    background-color: #65B2C6;
    width: 100%;
    height: 100px;
    border-radius: 0 0 10px 10px;
    position: relative;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 100%;
    height: 100%;
    background-color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
}
.modal-close{
    transform: translateY(-200%);
}
.pInitial {
    position: absolute;
    height: 87px;
    left: 9.98%;
    right: 28.71%;
    top: calc(50% - 87px / 2 + 82px);
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#regards{
    position: relative;
    color: #FFFFFF;
    font-weight: bolder;
}
.showbackground {
    background-color: #FFFFFF;
    position: absolute;
    /* margin: 50px 30px; */
    grid-template-rows: repeat(11, 1fr);
    width: 411px;
    height: 799px;
    padding: 50px;
    display: grid;
    gap: 20px;
}
.sendInfo {
    padding: 3%;
    background: #65B2C6;
    border: none;
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
}
#btnLoginWithGoogle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 90px;
    position: absolute;
    top: 633.43px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
}
#btnPostAndPhoto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3%;
}

#btnRegister {
    position: absolute;
    top: 738px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: white;
    text-decoration-line: underline;
}
#buttonHome {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration-line: underline;
}
#formulario {
    display: grid;
    gap: 15px;
}
#photoProfile{  
position: relative;
margin: auto;
border-radius: 50%;
}
.planeImg{
    position: absolute;
    top:25% -47%;
  }
.showMessageError {
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    background-color: pink;
    text-align: center;
    padding: 5px;
    border: solid 1px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.signOut {
    display: flex;
    margin: 12.5%;
    padding: 14px 70px;
    position: absolute;
    top: 569.93px;
    background: #65B2C6;
    border-radius: 10px;
}
.cta{
    background-color: #fff;
    border: solid 3px #D73D6C;
    color: #616161;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    border-radius: 5px;
    width: 85%;
    height: 52px;

}
/*?------------------- Brith ------------------------*/
select {
    background: transparent;
    border: none;
    color:#595959;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}
select:focus{
    outline: none;
}
.filter {
    margin: 5px 5px;
    border-radius: 5px;
    border:1px solid #D9D9D9;
    height:30px;
    overflow: hidden;
    width: 200px;
    position:relative;
 }
 .filter::after{
    content:"\025be";
    color: white;
    display: table-cell;
    padding-top: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #65B2C6;
    position: absolute;
    top: 0;
    right: 0px;
    pointer-events: none;
}
.modalButton{
    width: 25%;
    padding: 5px;
    font-size: 100%;
    border-radius: 10px;
    background-color: #65B2C6;
    color: aliceblue;
    font-weight: bolder;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border: none;
}
.post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.postButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.textAndSelect{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: -15%;
}
.transIcon{
    height: 40px;
    width: 40px;
    background-position: 0px -233px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
#containerIconTransports{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: -50%;
    font-size: 20px;
}
#containerIconTransports span{
    padding: 10px; 

position: relative;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.postConfirm{
    display: flex;
    width: 70%;
    position: fixed;
    height: 30%;
    border-radius: 10px;
    background: #FFBA76;
    left: 116px;
    font-size: 30px;
    padding: 3%;
    flex-direction: column;
    justify-content: space-around;
}
.yoNButton{
    width: 25%;
    padding: 5px;
    font-size: 100%;
    border-radius: 10px;
    background-color: #2b2b2b;
    color: aliceblue;
    font-weight: bolder;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border: none;
}

footer{
    grid-area: footer;
    justify-content: space-evenly;
    background-color: #65B2C6;
    border-radius: 10px 10px 0 0;
    position: fixed;
    margin-bottom: 0;
    width: 100%;
}
h2{
    color: white;
    /* footer */
}
footer .content_1{
    margin: 15px;
    width: 47%;
    display: flex;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
}
footer .content_2{
    margin: 15px;
    width: 47%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    height: 85%;
}
.contacto{
    display: flex;
    height: 10px;
}
.content_1 .contacto .fas {
    color:#fff;
    margin-right: 10px;
    height: 30px;
}
.content_1 .contacto a{
    font-size: 15px;
}
footer .content_3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.Box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 80px;
}
h2{
    font-size: 15px;
    margin: 4% auto; 
}
.red-social{
    list-style: none;
    display:flex;
}
footer .content_1 .Box .red-social li {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    background-color:#65B2C6;
    text-align: center;
}
footer .content_1 .Box .red-social li a{
    color: #fff;
}
footer .content_1 .Box .red-social li a:hover{
    color:#D73D6C;
}

#formSignIn{
    grid-area: formLogin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: none;
    color: #2b2b2b;
}
.Welcome{
    margin: 5%;
    text-align: center;
    color: #2b2b2b;

}
.label{
    margin: 5% 5% 0% 0%;
}
#btnHome{
    grid-area: btnHome;
    font-size: 18px;
    color: #2b2b2b;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration-line: underline;
}
#imgLogin{
    grid-area: imageLogin;
    width: 350px;

}
#homeDiv { 
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;

    }
#sectionForStyles {
    background: #fff;
    grid-template-areas: "formLogin"
                         "btnHome"
                         "imageLogin";
    height: 799px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
        }
#btnLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 140px;
    position: absolute;
    top: 569.93px;
    background: #65B2C6;
    font-size: 20px;
} 
#btnLogin2 {
    margin: 5% 0;
    width: 350px;
    height: 48px;
    left: 30.5px;
    font-size: 20px;
    font-weight: bold;
    top: 479.5px;
    color: white;
    background: #65B2C6;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}
input#inputEmail{
    height: 40px;
    border-radius: 8px;
    border: none;
    border: 1px solid #666666;
    box-sizing: border-box;
}
input#inputPass{
    height: 40px;
    border-radius: 8px;
    border: none;
    border: 1px solid #666666;
    box-sizing: border-box;
}
.frame{
    margin: 0 3%;
    background: #D73D6C;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.containerCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0 3% 2%;
    background: #FFFFFF;
    border-radius: 10px;
}
#firstPartPost{
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    border-radius: 10px 0 0 10px;
    background: #ECEFF4;
}
#photoProfileCard{
margin: 1% auto;
border-radius: 50%;
}
label.nameOfProfileCard{
    text-align: center;
}
#secondPartPost{
    width: 299px;
    border-radius: 10px 0 0 10px;
}
#headerOfPost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
}
#headerOfPost button{
    background: none;
    color: #2b2b2b; /* #C4C4C4 */
    cursor: pointer;
    border: none;
    font-size: 20px;
}
.infoOfPost{
    display: flex;
    flex-direction: column;
    padding: 1%;
    color:#2b2b2b;
}
.titleOfData{
    font-size: 18px;
    font-weight: bold;
}
.dateOfData{
    font-size: 16px;
    font-style: italic;
}



/* --------------MediaQuery-------------- */
@media screen and (min-width:700px) {
    body {
        background-image: url(./imgns/fondoflechas.png);
        background-size: cover;
    }
    .containerBody {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        left: 0px;
    }
    img.logoSocialTravel {
        position: absolute;
        width: 170px;
        height: 63px;
        left: 217px;
        top: 15%;
        display: flex;
    }
    #btnLoginWithGoogle {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 90px;
        position: absolute;
        top: 60%;
        border: 1px solid #FFFFFF;
        background: rgba(0, 0, 0, 0);
        color: white;
        font-size: 20px;
        margin-left: 13.5%;
    }

    #btnLogin {
        width: 340px;
        height: 48px;
        font-size: 20px;
        font-weight: bold;
        top: 50%;
        color: white;
        background: #65B2C6;
        border-radius: 10px;
        border: none;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
        margin-left: 13.5%;
        position: absolute;
      }
    

     #btnRegister {
        position: absolute;
        top: 70%;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        background: rgba(0, 0, 0, 0);
        color: white;
        text-decoration-line: underline;
        margin-left: 13.5%;
    }

    .modal{
        width: 70%;
        height: 70%;
        top: 5%;
        border-radius: 10px;
    }
    .pInitial {
        height: 58px;
        right: 59.3%;
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        width: 440px;
        top: 35%;
    }
    .planeImg{
        position: absolute;
        top:58%;
    }
    .showMessageError {
        padding: 5px;
        border: solid 1px;
    }
    #regards{
        text-align: center;
    }
/*? -------- Brith --------*/
    footer{
        bottom: 0;
        display: flex;
        color: white;
    }
        footer .content_1{
        margin: 15px;
        width: 47%;
        display: flex;
        font-size: 15px;
        align-items: center;
        flex-direction: column;
    }
        .content_1 a{
            height: 25%;
            text-align: center;
    }
    .contacto > a{
        margin-right: 10px;
        font-size: 20px;
        height: 25px;
    }
    .cardsOfData{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        background-color: #FFF;
        border-radius: 0px 0px 10px 10px;
        color: #2b2b2b;
        font-size: medium;
    }
    .containerCards {
        margin: 5%;
        margin: 3% 0 3% 1.5%;
    }
    #btnPostAndPhoto{
        margin: 0 20%;
    }
    .frame{
        margin: 0 20%;
    }
    #firstPartPost{
        width: 15%;
    }
    #secondPartPost{
        width: 85%;
    }
    #editPostButton{
        padding: 1%;
    }
}