* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(./imgns/img_background2\ 1flechas.png);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #D57276;
    color: #FFF;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;

}

img.logoSocialTravel {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.inputPost {
    position: relative;

    border: 1px solid #65B2C6;
    border-radius: 5px;
    margin: 10px 3%;
    padding: 8px;
    width: 94%;
    height: 50%;
    font-size: x-large;
    text-align: initial;
    box-shadow: 4px 4px 8px grey;
}

.textModal {
    color: #2b2b2b;
    padding: 10px;
}

.btnSingin {
    width: 340px;
    height: 48px;
    font-size: 100%;
    margin: auto 10%;
    border-radius: 10px;
    border: none;
}

.containerBody {

    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
}

#feed h2 {
    font-size: 20px;
    line-height: 30px;
    color: #2B2B2B;
}

.hide {
    display: none;
}

.homeDiv {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

#introduction {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
}

.logo {
    position: relative;
    height: 70%;

}

.Menu {
    display: flex;
    flex-direction: column;
    background-color: #65B2C6;
    width: 100%;
    height: 100px;
    border-radius: 0 0 10px 10px;
    position: relative;
    box-shadow: 4px 4px 8px grey;
}

.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
}

.modal-close {
    transform: translateY(-200%);
}

.pInitial {
    position: absolute;
    height: 87px;
    left: 9.98%;
    right: 28.71%;
    top: calc(50% - 87px / 2 + 82px);
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;

}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#regards {
    position: relative;
    color: #FFFFFF;
    font-weight: bolder;
}

.showbackground {
    background-color: #FFFFFF;
    position: absolute;
    /* margin: 50px 30px; */
    grid-template-rows: repeat(11, 1fr);
    width: 411px;
    height: 799px;
    padding: 50px;
    display: grid;
    gap: 20px;
}

.sendInfo {
    padding: 3%;
    background: #65B2C6;
    border: none;
    color: #2b2b2b;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
}

#btnLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 140px;
    position: absolute;
    top: 569.93px;
    background: #65B2C6;
    font-size: 20px;
}

#btnLoginWithGoogle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 90px;
    position: absolute;
    top: 633.43px;
    border: 1px solid #FFFFFF;
    background: rgba(0, 0, 0, 0);
    color: white;
    font-size: 20px;
}

#btnRegister {
    position: absolute;
    top: 738px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: white;
    text-decoration-line: underline;
}

#buttonHome {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-decoration-line: underline;
}

#formulario {
    display: grid;
    gap: 15px;

}

#inputEmail {
    color: black;
}

.planeImg {
    position: absolute;
    top: 25% -47%;
}

.showMessageError {
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    background-color: pink;
    text-align: center;
    padding: 5px;
    border: solid 1px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signOut {
    display: flex;
    margin: 12.5%;
    padding: 14px 70px;
    position: absolute;
    top: 569.93px;
    background: #65B2C6;
    border-radius: 10px;
}

/*?------------------- Brith ------------------------*/
select {
    background: transparent;
    border: none;
    color: #595959;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
}

select:focus {
    outline: none;
}

.filter {
    margin: 5px 5px;

    border-radius: 5px;
    border: 1px solid #D9D9D9;
    height: 30px;
    overflow: hidden;
    width: 200px;
    position: relative;
}

.filter::after {
    content: "\025be";
    color: white;
    display: table-cell;
    padding-top: 5px;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #65B2C6;
    position: absolute;
    top: 0;
    right: 0px;

    pointer-events: none;
}

.modalButton {
    width: 25%;
    padding: 5px;
    font-size: 100%;
    border-radius: 10px;
    background-color: #65B2C6;
    color: aliceblue;
    font-weight: bolder;
    box-shadow: 4px 4px 8px grey;
    border: none;
}

.post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.postButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.textAndSelect {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.transIcon {
    height: 40px;
    width: 40px;
    background-position: 0px -233px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}

#containerIconTransports {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#containerIconTransports span {
    padding: 10px;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* --------------MediaQuery-------------- */
@media screen and (min-width:700px) {
    body {
        background-image: url(./imgns/fondoflechas.png);
        background-size: cover;
    }

    .containerBody {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        left: 0px;
    }

    .homeDiv {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    img.logoSocialTravel {
        position: absolute;
        width: 170px;
        height: 63px;
        left: 217px;
        top: 15%;
        display: flex;


    }

    #btnLoginWithGoogle {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 90px;
        position: absolute;
        top: 60%;
        border: 1px solid #FFFFFF;
        background: rgba(0, 0, 0, 0);
        color: white;
        font-size: 20px;
        margin-left: 13.5%;

    }

    #btnLogin {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 140px;
        position: absolute;
        top: 50%;
        background: #65B2C6;
        font-size: 20px;
        margin-left: 13.5%;
    }

    #btnRegister {
        position: absolute;
        top: 70%;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        background: rgba(0, 0, 0, 0);
        color: white;
        text-decoration-line: underline;
        margin-left: 13.5%;
    }

    .modal {
        width: 70%;
        height: 70%;

        top: 5%;
        border-radius: 10px;
    }

    .pInitial {
        height: 58px;
        right: 59.3%;
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        width: 440px;
        top: 35%;
    }

    .planeImg {
        position: absolute;
        top: 58%;
    }

    .showMessageError {
        padding: 5px;
        border: solid 1px;
    }

    #regards {
        text-align: center;
    }
}